/* src/Components/bebidas/Bebidas.css */
.bebidas {
    text-align: center;
    margin: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  