.bebidas {
    background-color: #000; 
    color: #ffa500; 
    padding: 20px; 
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  .logo-container {
    cursor: pointer; 
  }
  
  .menu {
    position: absolute; 
    top: 60px; 
    left: 0; 
    background-color: #000; 
    border: 1px solid #ffa500; 
    z-index: 1000; 
  }
  
  .bebidas-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 10px; 
  }
  
  .bebida {
    width: calc(20% - 10px); 
    background-color: #222; 
    color: #ffa500; 
    border: 2px solid #ffa500; 
    padding: 5px; 
    cursor: pointer; 
    transition: transform 0.2s; 
    box-sizing: border-box; 
    min-width: 100px; 
  }
  
  .bebida:hover {
    transform: scale(1.10); 
  }
  
  .bebida img {
    height: 191px; 
    object-fit: cover; 
    border-radius: 5%; 
  }
  
  .bebida-nome {
    font-size: 1rem; 
    text-align: center; 
  }
  
  .bebida-descricao {
    font-size: 0.85rem; 
    text-align: center; 
  }
  
  
  .bebida-botoes {
    display: flex; 
    justify-content: space-between; 
    margin-top: 10px; 
    width: 100%; 
  }
  
  .btn-primary {
    background-color: #000; 
    border-color: #ffa500; 
  }
  
  .btn-primary:hover {
    background-color: #ffa500; 
    color: #000; 
  }
  
  .btn-secondary {
    background-color: #000; 
    border-color: #ffa500; 
  }
  
  .btn-secondary:hover {
    background-color: #ffa500; 
    color: #000; 
  }
  
  .btn-danger {
    background-color: #000; 
    border-color: #ff0000; 
  }
  
  .btn-danger:hover {
    background-color: #ff0000;
    color: #fff; 
  }
  .modal-content {
    background-color: black; 
    color: orange; 
  }
  
  .modal-header, .modal-footer {
    border: none; 
  }
  
  .modal-title {
    color: orange; 
  }
  
.footer {
  margin-top: 20px;
}

.info-list {
  list-style-type: none; 
  padding: 0; 
  color: white; 
  text-align: center; 

}

.info-list li {
  margin: 5px 0; 
  font-size: 1rem; 
}

.info-list li a {
  color: orange; 
  text-decoration: none; 
  transition: color 0.3s;
}

.info-list li a:hover {
  color: #ff6600; 
}

.informacoes {
text-align: center;
}