.bebidas {
  position: relative;
  padding: 20px;
  background-color: #000000; 
  color: #ffa500; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  color: #ffa500; 
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo:hover {
  transform: scale(1.1);
}

.logo {
  max-width: 50px;
  cursor: pointer;
}

.menu {
  position: absolute; 
  top: 60px; 
  left: 10px; 
  background-color: rgba(255, 165, 0, 0.8); 
  border-radius: 5px; 
  padding: 10px; 
  text-align: left; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

.menu ul {
  list-style-type: none; 
  padding: 0; 
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.menu li {
  display: flex;
  align-items: center;
  color: #000000; 
  position: relative; 
}

.menu-icon-item {
  font-size: 1.5rem; 
  color: #000000; 
  transition: color 0.2s ease; 
}

.menu-icon-item:hover {
  color: #ffa500; 
}

.menu li[title]:hover::after {
  content: attr(title); 
  position: absolute;
  left: 40px; 
  color: #ffa500; 
  font-size: 0.9rem; 
  background: rgba(0, 0, 0, 0.8); 
  padding: 3px 5px; 
  border-radius: 3px; 
}

.bebidas-cards {
  display: flex;
  flex-wrap: wrap; 
  gap: 0; 
  justify-content: flex-start; 
  background-color: #000000;
}

.bebida-card {
  width: 250px;
  background-color: #2e2828; 
  color: #ffa500; 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}


.bebida-card img {
  height: 191px; 
  object-fit: cover; 
  border-bottom: 2px solid #ffa500; 
  border-radius: 5%; 
}


.bebida-card .card-title {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}


.bebida-card .card-text {
  font-size: 0.85rem; 
  text-align: center; 
  color: #ffa500;
}


.bebida-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bebida-botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.bebida-botoes .btn {
  font-size: 0.6rem; 
  background-color: #000000; 
  border: 2px solid #ffa500; 
  color: #ffa500; 
  padding: 5px 10px; 
  transition: background-color 0.3s;
}
.mb-2 text-muted{
  color: #ffa500;
}

.bebida-botoes .btn:hover {
  background-color: #333333; 
}


.bebida-botoes .btn-pedir {
  background-color: #000000;
  border: 2px solid #ffa500;
  color: #ffa500;
}

.bebidas-cards .col {
  padding: 0.0rem; 
}

.footer {
  margin-top: 40px;
  text-align: center;
}

.footer .footer-title {
  color: #ffa500;
}

.footer .info-list {
  list-style: none;
  padding: 0;
}

.footer .info-list li {
  color: #ffa500;
}
.footer-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  color: #ffa500;
  
}
.custom-button {
  background-color: black;
  color: orange;
  border: 2px solid orange;
  padding: 10px 20px;
  font-size: 16px;
}

.custom-button:hover {
  background-color: orange;
  color: black;
}

.finalizar-pedido-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.bottom-buttons {
  position: fixed;
  bottom: 20px;
  right: 200px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}