body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home {
  text-align: center;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  flex-grow: 1;
  text-align: center;
}

.logo {
  width: 80px;
}

.logo:hover {
  transform: scale(1.1);
}

.smaller-title {
  font-size: 1.5rem;
  color: orange;
  margin-top: 10px;
}


.custom-image {
  width: 650px; 
  height: 650px; 
  object-fit: cover; 
  margin: 20px auto;
  border: 3px solid orange;
}


.carousel-control-prev,
.carousel-control-next {
  width: 2%; 
  top: 70%; 
  transform: translateY(-50%); 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none; 
  padding: 10px; 
  font-size: 1.5rem; 
}


.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  color: orange;
}


.menu {
  position: absolute; 
  top: 60px; 
  left: 10px; 
  background-color: rgba(255, 165, 0, 0.8); 
  border-radius: 5px; 
  padding: 10px; 
  text-align: left; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

.menu ul {
  list-style-type: none; 
  padding: 0; 
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  color: black; 
  position: relative; 
}

.menu-icon-item {
  font-size: 1.5rem; 
  color: #000000; 
  transition: color 0.2s ease; 
}

.menu-icon-item:hover {
  color: #ffa500; 
}

.menu li[title]:hover::after {
  content: attr(title); 
  position: absolute;
  left: 40px; 
  color: orange; 
  font-size: 0.9rem; 
  background: rgba(0, 0, 0, 0.8); 
  padding: 3px 5px; 
  border-radius: 3px; 
}


.footer {
  margin-top: 20px;
}

.info-list {
  list-style-type: none; 
  padding: 0; 
  color:#ffa500; 
  text-align: center; 
}

.info-list li {
  margin: 5px 0; 
  font-size: 1rem; 
}

.info-list li a {
  color: orange; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.info-list li a:hover {
  color: #ff6600; 
}
.bebida-card {
  width: 250px;
  background-color: #5f5b5b; 
}
.custom-button {
  background-color: black;
  color: orange;
  border: 2px solid orange;
  padding: 10px 20px;
  font-size: 16px;
}

.custom-button:hover {
  background-color: orange;
  color: black;
}

.finalizar-pedido-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.bottom-buttons {
  position: fixed;
  bottom: 20px;
  right: 200px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-color: #000; 
  flex-direction: column; 
}